
.feature{

    &__content{
       background-color: $lightgreyishblue; //Need to change the color
    }
    &__intro{

        margin-bottom: 3.75rem;

        @include breakpoint-up(large){
            width: 60%;
        }
    }

    &__grid{

        //Using Display Grid instead of Flexs
        display: grid;
        grid-template: 1fr; //1 fr stands for 1 fractional unit
        gap: 0.5rem;

        @include breakpoint-up(medium){
            grid-template-columns: repeat(2,1fr); //repeat takes 2 params first one - how many cols & second one - fractiona units
        }

        @include breakpoint-up(large){
            grid-template-columns: repeat(4,1fr);
        }

        // @include breakpoint-up(medium){
        //     display: flex;
        //     flex-wrap: wrap;
        // }
    }

    &__item{
        //border: 1px solid magenta;
        padding: 0.725rem;

        // @include breakpoint-up(medium){
        //     flex: 1 0 50%;
        // }

        @include breakpoint-up(large){
            flex: 1;
        }
    }

    &__icon{
        margin-bottom: 1.875rem;
        @include breakpoint-up(large){
           margin-bottom: 2.75rem;
        }
    }

    &__title{
        font-size: 1.25rem;
        font-weight: 300;
        color: $darkblue;
        line-height: 1.15;
        margin-top: 0px;
        margin-bottom: 1.5rem;
        @include breakpoint-up(large){
            font-size:1.5rem;
        }
    }

    &__description{
        font-size: 0.875rem;
        line-height: 1.5;
    }
}



