.footer{

    background-color: $darkblue;
    color: $white;
    padding: 2.5rem;
    text-align: center;
    
    a { //To make sure anchor links also will get the color white
        color: $white;
    }

    .container{
        @include breakpoint-up(large){
            display: grid;
            grid-template-columns: repeat(3,1fr) 2fr;
            grid-template-rows: 1fr auto;
            grid-template-areas: "logo col1 col2 cta"
            "social col1 col2 copyright";
            justify-items: start;
        }
    }

    &__logo{
        display: inline-block;

        @include breakpoint-down(medium){
            margin-bottom: 1.875rem;
        }

        @include breakpoint-up(large){
            grid-area: logo;
        }
    }

    &__social{

        @include breakpoint-down(medium){
            margin-bottom: 1.875rem;
        }

        a {
            display: inline-block;
            height: 1.25rem;

            svg path{
                transition: fill 150ms ease-in-out;
            }

            &:hover svg path{
                fill: $limegreen;
            }
        }
        a:not(:last-child) {
            margin-right: 0.8rem;
        }

        @include breakpoint-up(large){
            grid-area: social;
            align-self: end;
        }
    }

    &__links{

        display: flex;
        flex-direction: column; //Can stack the content
        align-items: center; //Since it is an horizontal axis align items is used 
        font-size: 0.935rem;
        

        @include breakpoint-up(large){
            justify-content: space-between;
            align-items: start;
        }

        &.col1{
            @include breakpoint-up(large){
                grid-area: col1;
            }
        }

        &.col2{
            @include breakpoint-down(medium){
                margin-bottom: 1.875rem;
            }
           @include breakpoint-up(large){
            grid-area: col2;
            }
        }

        a {
            line-height: 1.7;
            transition: color 150ms ease-in-out;

            &:hover{
                 color: $limegreen;
            }
        }
        

    }

    &__cta{


        &:hover{
            opacity: 0.7;
        }


        button.button{
            @include breakpoint-down(medium){
                margin-bottom: 1.875rem;
            }
        }

        @include breakpoint-up(large){
            grid-area: cta;
            text-align: right;
            justify-self: end;
        }
    }

    &__copyright{

        font-size: 0.8125rem;
        color: $grayishblue;

        @include breakpoint-up(large){
            grid-area: copyright;
            align-self: end;
            justify-self: end;
        }

    }
}