@import "variables";

.header{

    //Hamurger Open Styles 

     &.open{ ///Hamburger Menu Open Class 

        .header__toggle{
            > span:first-child{
                transform: rotate(45deg);
            }
            > span:nth-child(2){
                opacity: 0;
            }
            > span:last-child{
                transform: rotate(-45deg);
            }
        }
     }

     .overlay{
        //display: none;
        opacity: 0;
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        background: linear-gradient($darkblue,transparent);
     }

    nav{
        position: relative;
        background: #fff;
        padding-top: 1.0625rem;
        padding-bottom: 1.0625rem;
    }
    
    &__logo{
        
        img{
            width: 8.8125rem;
            height: 1.375rem;
        }
    }

    &__toggle{ //Mobile Toggele Menu

        > span { //Direct Child
            display: block;
            width: 26px;
            height: 2px;
            background-color: $darkblue;
            transition: all 300ms ease-in-out;
            transform-origin: 0.375rem 0.09375rem; //Edit Manually for X menu to rotate from center

            &:not(:last-child){ //Should Be inside the span -----wasted 1 hr finding this !
                margin-bottom: 3px;
            }
        }
    }

    &__links{

        a{
            position: relative;
            font-size: $font-sm;  
            color:$grayishblue;
            position: relative;
            transition:color 300ms ease-in-out;
            
            &:not(:last-child){
                margin-right: 32px;
            }

            &::before{
                content: "";
                display: block;
                height: 5px;
                background: linear-gradient(to right, $limegreen,$brightcyan);
                opacity: 0;
                transition: opacity 300ms ease-in-out;
                left: 0;
                right: 0;
                bottom: -30px;
                position: absolute;
            }

            &:hover{
                color:$darkblue; 
                &::before{
                    background: linear-gradient(to right, $limegreen,$brightcyan);
                    opacity: 1;
                }
            }
            
        }      
    }

    &__menu{
        
        background: $white;
        //margin: 0px 1.5rem; //Margin has been disabled since width property will do the job
        padding: 1.625rem;
        border-radius: 7px;
        position: absolute;
        width: calc(90% - 3rem);
        left: 50%;
        transform: translateX(-50%);
        margin-top: 1.7rem;

        a{
            display: block;
            padding: 1.3rem; //adjusted as per our screen size
            color: $darkblue;
            text-align: center;
        }
    }
}

//Keyframes

.has-fade{
    visibility: hidden;
}

@keyframes fade-in{
    from{
        visibility: hidden;
        opacity: 0;
    }

    1%{
        visibility: visible;
        opacity: 0;
    }

    to{
        visibility:visible;
        opacity: 1;
    }
}

.fade-in{
    animation: fade-in 200ms ease-in-out forwards;
}


@keyframes fade-out{
    from{
        visibility: visible;
        opacity: 1;
    }

    99%{
        visibility: visible;
        opacity: 0;
    }

    to{
        visibility:hidden;
        opacity: 0;
    }
}

.fade-out{
    animation: fade-out 200ms ease-in-out forwards;
}
