@import "variables";

.header{

    nav{
        padding:1.065rem 1.5rem;
    }
    
    &__logo{
        
        img{
            width: 8.8125rem;
            height: 1.375rem;
        }
    }

    &__menu{ //Mobile Menu

        > span { //Direct Child
            display: block;
            width: 26px;
            height: 2px;
            background-color: $darkblue;

            &:not(:last-child){ //Should Be inside the span -----wasted 1 hr finding this !
                margin-bottom: 3px;
            }
        }
    }

    &__links{

        a{
            position: relative;
            font-size: $font-sm;  
            color:$grayishblue;
            position: relative;
            transition:color 300ms ease-in-out;
            
            &:not(:last-child){
                margin-right: 32px;
            }

            &::before{
                content: "";
                display: block;
                height: 5px;
                background: linear-gradient(to right, $limegreen,$brightcyan);
                opacity: 0;
                transition: opacity 300ms ease-in-out;
                left: 0;
                right: 0;
                bottom: -30px;
                position: absolute;
            }

            &:hover{
                color:$darkblue; 
                &::before{
                    background: linear-gradient(to right, $limegreen,$brightcyan);
                    opacity: 1;
                }
            }
            
        }

        //Not working ? Need to Figure out why ?
        &__cta{
            font-size: $font-sm;
            color: white;
            transition: opacity 300ms ease-in-out;

            &:hover{
                opacity: 0.75;
            }
        }

    }
}
