
.feature{

    &__grid{

        
        @media (min-width: 64em){
            display: flex;
        }
    }

    &__item{
        border: 1px solid magenta;
        padding: 0.9375rem;
        @media (min-width: 64em){
            flex: 1;
        }
    }

    &__icon{

    }

    &__title{

    }

    &__description{

    }
}



